body{
    background-color:#f8f8f8 !important;

}
.dz {
    border: dashed !important;
    background-color:#ccc !important;
    border-radius:10px !important;
}

.dz:hover{
    background-color:aliceblue !important;
}